*{
    box-sizing: border-box;
}

.header {
    height: 35vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-text {
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.body-top {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;

}

.squares {
    height: 200px;
    width:  200px;
    border-radius: 10px;
    background-color: aquamarine;
    padding-top: 20px;
}

.body-middle {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
}

.rectangles {
    height: 280px;
    width: 550px;
    background-color: orange;
}

.body-bottom {
    height: 35vh;
    width: 100vw;
    display: flex;
}

.text-box{
    height: 280px;
    width: 500px;

}

.p{
    height: 240px;
    width: 500px;
    color: darkslateblue;
    border: dotted;


}

.image-box{
    img
}

.bottom {
    height: 15vh;
    width: 100%;
    background-color: darkslateblue;
}